@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Chokokutai&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.fs1 {
  font-family: "Calligraffitti", cursive;
  font-weight: 900;
  font-style: normal;
}
